.wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    a,
    button {
        width: 100%;
        height: 2rem;
        background-color: var(--accent);
        border: 2px solid var(--highlight);
        border-radius: 50px;
        outline: none;
        transition: 0.4s;
        color: var(--text);
        cursor: pointer;
        font-size: var(--h6);
    }

    a:hover,
    button:hover {
        background-color: var(--highlight);
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 1rem;
    }
}

.form fieldset {
    width: 100%;
    height: 4rem;
    border: none;

    input[type='text'],
    input {
        width: 100%;
        height: 100%;
        border: 2px solid var(--accent);
        border-radius: 10px;
        outline: none;
        transition: 0.4s;
        color: var(--text);
        padding: 1rem 3rem;
        background: var(--neutral);
        font-size: var(--h6);
    }
}
input[type='text']:focus,
input:focus {
    border: 2px solid var(--highlight);
    box-shadow:
        var(--highlight) 0px 1px 1px,
        var(--highlight) 0px 0px 0px 1px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        font-size: var(--h6);
        color: var(--primary);
    }
    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
        max-width: 10rem;
    }
    span {
        display: none;
    }
}

@media (min-width: 675px) {
    .wrapper {
        flex-direction: row;
        height: calc(100vh - 4rem);
        margin: 0 auto;
        justify-content: space-around;
        align-items: center;
    }
    .image {
        max-width: 55%;

        figure {
            max-width: 30rem;
        }

        h3 {
            font-size: var(--h3);
        }

        span {
            display: block;
        }
    }
}
