@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Montserrat:ital,wght@0,400;1,800&display=swap');

:root {
    --primary: #e53935;
    --secondary: #4caf50;
    --accent: #ffc107;
    --highlight: #ff5722;
    --neutral: #e0e0e0;
    --text: #000000;

    /* fonts */
    --decorative: 'Montserrat', sans-serif;
    --sans: 'Lato', sans-serif;

    /* font scale */
    --base-size: 1.2rem;
    --scale: 1.25;
    --xl: calc(var(--h1) * var(--scale) * var(--scale)); /* 7.15rem */
    --lg: calc(var(--h1) * var(--scale)); /* 4.575rem */
    --h1: calc(var(--h2) * var(--scale)); /* 3.66rem */
    --h2: calc(var(--h3) * var(--scale)); /* 2.93rem */
    --h3: calc(var(--h4) * var(--scale)); /* 2.34rem */
    --h4: calc(var(--h5) * var(--scale)); /* 1.875rem */
    --h5: calc(var(--h6) * var(--scale)); /* 1.5rem */
    --h6: var(--base-size); /* 1.2rem */
    --small: calc(var(--base-size) / var(--scale)); /* 0.96rem */

    /* other variables */
    --radius: 5px;
}

[data-theme='dark'] {
    --primary: #c62828;
    --secondary: #388e3c;
    --accent: #ffa000;
    --highlight: #e64a19;
    --neutral: #757575;
    --text: #ffffff;
}
