.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin: 2rem 0;
    }

    ol {
        margin-bottom: 1rem;
    }
}

@media (min-width: 675px) {
    .cards {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-flow: wrap;
        justify-content: center;
    }
}
